
.nav {
  margin-right: 5rem;
  &__img {
    display: inline-block;
    margin: 1rem 0 0 7rem;
    padding-top: 1rem;
    
  }

  &__fb, &__ig, &__yt {
    float: right;
  }

  &__yt, &__ig, &__fb, &__img {
    animation: fade-in-bounce 1s 2.5s ease-in-out backwards;
  }
}

ion-icon {
  margin: 4.1rem 2rem 1rem 0;
  color: whitesmoke;
  font-size: 5rem;
}