.hero {
  // margin: 0 8rem 8rem;
  height: 90vh;
  width: 100vw;
  position: relative;
  background-image: linear-gradient(
    -230deg, 
    rgba(#FD0036, .9) 0%,  
    rgba(#FD0036, .9) 15%,  
    rgba(#04fab0, .9) 85%,
    rgba(#04fab0, .9) 100%,
    );
  background-size: cover;
  background-size: 330%;
  overflow: hidden;
  animation: bg-animation 15s infinite alternate-reverse ease-in-out;
  // border-radius: 30px;
}

.logo {
  height: 100%;
  width: 100%;
  overflow: hidden;
  @include responsive-center;
  @include clearfix;
}

